@font-face{
	font-family: "NeueMachina";
	src: url(./fonts/NeueMachina.otf);
	src: url(./fonts/NeueMachina-Regular.otf);
	src: url(./fonts/NeueMachina-Ultrabold.otf);
}

body{
	background: #F0EFF4;
}

.home-demo{
	display: none;
}

.top{
	width: 100%;
	display: flex;
	justify-content: center;
}

.adapt{
	width: 1535px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.first{
	position: relative;
	width: 700px;
	height: 700px;
	top: 31px;
	background: #F0EFF4;
	box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1), -6px -6px 16px rgba(255, 255, 255, 0.5);
	border-radius: 15px;

}

.main_text{
	font-family: NeueMachina;
	color: #443E5B;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	width: 640px;
	height: 300px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.side_text{
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 130%;
	color: #443E5B;
	width: 630px;
	height: 62px;
	margin-left: 30px;
	margin-right: 40px;
	margin-top: 10px;
}

.number{
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #8E86AC;
	margin-top: 190px;
	margin-left: 30px;
	margin-bottom: 26px;
	cursor: pointer;
}

.number:hover{
	color: #443E5B;
}

.logos{
	margin-right: 19px;
	cursor: pointer;
}

.logos:hover{ 

}

.dribbble{
	position: relative;
	top: 2px;
}

.telegram{
	position: relative;
	top: 1px;
}

.insta{
	position: relative;
	top: 1px;
}

.behance{
	position: relative;
	bottom: 1px;
}

.social{
	margin-left: 30px;
}

.leng{
	position: relative;
	font-family: NeueMachina;
	color: #8E86AC;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 36px;
	margin-right: 30px;
	cursor: pointer;
}

.leng:hover{
	color: #443E5B;
}

.us{
	position: relative;
	width: 20px;
	height: 20px;
	top: 1px;
	margin-right: 4px;
}

.bot{
	display: flex;
	justify-content: space-between;
}

.second{
	position: relative;
	width: 700px;
	height: 700px;
	top: 30px;
	background: #F0EFF4;
	border-radius: 15px;
	box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1), -6px -6px 16px rgba(255, 255, 255, 0.5);
}


.ellipse{
	position: absolute;
	bottom: 480px;
	left: 475px;
}

.glases{
	position: absolute;
	bottom: 415px;
	left: 245px;
	animation: around 3s;
}

@keyframes around {
  0% { left: 245; top: -1000px; transform: rotate(0deg); }
  100% { left: 245px; top: 43px; transform: rotate(0deg); }
}

.rs{
	font-family: NeueMachina;
	position: absolute;
	font-style: normal;
	bottom: 290px;
	font-style: normal;
	font-weight: 900;
	font-size: 202.222px;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #F0EFF4;
	text-shadow: 4.46531px 4.46531px 11.9075px rgba(0, 0, 0, 0.1), -4.46531px -4.46531px 11.9075px rgba(255, 255, 255, 0.5);
}

.sharp{
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #8E86AC;
	transform: rotate(-90deg);
	position: relative;
	text-align: right;
	left: 330px;
	top: 40px;
}

.photo{
	width: 650px;
	height: 650px;
}

.solo{
	position: relative;
	left: 20px;
}

.projects{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.third{
	margin-top: 30px; 
	width: 700px;
	height: 700px;
}

.container{
    width: 700px;
    overflow: hidden;
    display: block;
    opacity: 0.5; 
    height: 700px;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	z-index: 1;
}

#glass{
    margin-left: -120px;
    z-index: 2;
}

.button{
	position: relative;
	bottom: 70px;
	margin-left: 25px;
	cursor: pointer;
}

.pointer{
	position: absolute;
	top: 10px;
	left: 14px;
}

.showreel_text{
	position: relative;
	bottom: 132px;
	left: 85px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: -1px -1px 4px rgba(255, 255, 255, 0.5), 2px 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.fourth{
	position: relative;
	width: 700px;
	height: 700px;
	top: 30px;
	background: #F0EFF4;
	border-radius: 15px;
	box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1), -6px -6px 16px rgba(255, 255, 255, 0.5);
}

h1{
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
	margin-left: 30px;
	margin-top: 30px;
}

.clients_li{
	list-style-type: none;
	font-family: Inter;
	font-style: normal;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: #8E86AC;
	margin-bottom: 25px;
}

ul{
   margin-left: 30px;
   margin-top: 20px;
   padding-left: 0;
}

h2{
	text-transform: uppercase;	
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 6px;
}

h2:hover{
	color: #443E5B;
	cursor: pointer;
}

.side{
	width: 594px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-top: 6px;
}

.fifth{
	margin-top: -50px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.packs{
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	width: 1466px;
}

.pack{
	position: relative;
	width: 457px;
	height: 700px;
	background: #F0EFF4;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}

.points{
	position: relative;
	left: 335px;
	top: 20px;
}

.points2{
	position: relative;
	left: 335px;
	bottom: 50px;
}

.points3{
	position: relative;
	left: 335px;
	bottom: 110px;
}

.gif{
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.08), inset -4px 4px 10px rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	margin-left: 30px;
	margin-top: 30px;
}

h3{
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
	margin-left: 30px;
	margin-top: 30px;
}

.pack_head_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #443E5B;
	margin-bottom: -12px;
}

.pack_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-bottom: 21px;
}

.pack_ul{
	margin-top: -15px;
	list-style-type: none;
}

.pack_li{
	margin-bottom: 21px;
}

.price_button{
	position: relative;
	align-items: flex-end;
	width: 70px;
	height: 20px;
	padding: 6px 14px;
	background: #F0EFF4;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1), inset -2px 2px 3px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-left: 30px;
	margin-bottom: 24px;
	margin-right: 10px;
}

.price_button_text{
	position: relative;
	text-align: center;
	bottom: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 130%;
	color: #8E86AC;
}

.term_button{
	width: 86px;
	height: 30px;
	background: #F0EFF4;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1), inset -2px 2px 3px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-bottom: 26px;
}

.term_button_text{
	position: relative;
	text-align: center;
	bottom:  8px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 130%;
	color: #8E86AC;
}

.pack_buttons{
	display: flex;
	position: relative;
	align-items: flex-end;
	margin-top: 32px;
	-moz-user-select: none;
    -khtml-user-select: none;
  	-webkit-user-select: none;
 	user-select: none;
}

.pack_buttons2{
	top: 65px;
}

.pack_buttons1{
	top: 132px;
}

.btn, .btn2, .btn3{
	position: absolute;
	left: -8px;
}

.btn{
	top: 60px;
}

.btn2{
	top: 150px;
}

.btn3{
	top: 255px;
}

.foot{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 30px;
	height: 1430px;
	margin-bottom: 94px;
}

.worth_ul{
	list-style-type: none;
	margin-top: 60px;
}

.worth_li{
	margin-bottom: 25px;
	margin-right: 30px;
}

.worth{
	width: 700px;
	height: 700px;
	background: #F0EFF4;
	border-radius: 15px;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	margin-bottom: 30px;
}

.worth_header{
	position: relative;
	margin-top: 0;
	top: 30px;
	margin-left: 30px;
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
}

.worth_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #443E5B;
}

.worth_side_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-top: -15px;
	margin-left: 30px;
}

.sheet{
	z-index: 0;
}

.resume{
	width: 700px;
	height: 700px;
	background: #F0EFF4;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}

.resume_header{
	position: relative;
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
	margin-top: 0;
	margin-left: 30px;
	top: 30px;
	width: 640px;
}

.resume_ul{
	list-style-type: none;
	margin-top: 30px;
}

.resume_li{
	margin-bottom: 30px;
}

.resume_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #443E5B;
}

.resume_side_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-top: -10px;
	width: 429px;
}

.resume_block{
	display: flex;
}

.resume_li_right{
	margin-bottom: 50px;
}

.registration{
	width: 700px;
	height: 1430px;
	background: #F0EFF4;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	border-radius: 45px;
}

.group{
	width: 338px;
	height: 358px;
	margin-left: 30px;
	margin-top: 30px;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 	user-select: none;
}

.squire{
	width: 338px;
	height: 358px;
}

.reg_ellipse{
	position: relative;
	bottom: 335px;
	left: 25px;
	width: 152px;
}

.reg_ellipse2{
	position: relative;
	width: 152px;
	bottom: 255px;
	left: 5px;
}

.reg_ellipse3{
	position: relative;
	width: 152px;
	bottom: 340px;
	left: 25px;
}

.double{
	position: relative;
	width: 48px;
	bottom: 570px;
	left: 55px;
}

.double2{
	position: relative;
	width: 20px;
	bottom: 375px;
	left: 20px;
}

.req_text{
	position: relative;
	width: 128px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.02em;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #8E86AC;
	cursor: pointer;
	z-index: 1;
}

.req_text:hover{
	text-decoration-line: none;
}

.req_text1{
	bottom: 607px;
	left: 36px;
}

.req_text2{
	bottom: 585px;
	width: 128px;
	left: 197px;
}

.req_text3{
	bottom: 555px;
	left: 52px;
}

.registr_text{
	width: 292px;
	position: relative;
	bottom: 260px;
	left: 380px;
}

h4{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #443E5B;
	margin-bottom: 0px;
}

.reg_side_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-top: 6px;
}

.emoji{
	position: relative;
	width: 209px;
	height: 221px;
	left: 400px;
	top: 40px;
}

h5{
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #443E5B;
	top: 18px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0;
}

.cloud_text{
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	top: 18px;
	margin-top: 6px;
	margin-left: 20px;
}

.cloud{
	position: relative;
	width: 299px;
	height: 105px;
	background: #F0EFF4;
	box-shadow: 4.22004px 4.22004px 11.2534px rgba(0, 0, 0, 0.1), -4.22004px -4.22004px 11.2534px rgba(255, 255, 255, 0.5);
	border-radius: 25px 25px 0px 25px;
	bottom: 270px;
	left: 130px;
}

.for_client{
	position: relative;
	bottom: 305px;
}

h6{
	position: relative;
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
	margin-left: 30px;
	top: 50px;
}

.registration_ul{
	list-style-type: none;
}

.registration_li{
	margin-bottom: 13px;
}

.text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	width: 578px;
	height: 70px;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.08), inset -4px 4px 10px rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	outline: none;
}

input[type="text"]::placeholder { color: #8E86AC;}
input[type="text"]::-webkit-text-decoration,
input[type="text"]::-webkit-text-cancel-button,
input[type="text"]::-webkit-text-results-button,
input[type="text"]::-webkit-text-results-decoration { display: none; }
input[type=text] {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #443E5B;
    text-indent: 20px; 
    background: #F0EFF4;
}

.line{ 
	text-decoration-line: underline;
	cursor: pointer;
}

.accept1{
	position: relative;
	width: 30px;
	left: 30px;
	top: 5px;
	cursor: pointer;
}

.accept2{
	position: relative;
	width: 20.5px;
	height: 20.5px;
	left: 1px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
}

.confid{
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	left: 68px;
	bottom: 38px;
	width: 300px;
}

.foot_ellipse{
	position: relative;
	bottom: 338px;
	left: 260px;
	width: 136px;
	height: 136px;
	background: #F0EFF4;
	box-shadow: 4.3311px 4.3311px 11.5496px rgba(0, 0, 0, 0.1), -4.3311px -4.3311px 11.5496px rgba(255, 255, 255, 0.5);
	border-radius: 14.437px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.foot_ellipse:focus{
	background: #F0EFF4;
	border: 1px solid #DEDEDE;
	box-sizing: border-box;
	box-shadow: 4.3311px 4.3311px 11.5496px rgba(0, 0, 0, 0.1), -4.3311px -4.3311px 11.5496px rgba(255, 255, 255, 0.5);
	border-radius: 14.437px;
}

.foot_ellipse:hover{
	background: #F0EFF4;
	box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.12), -8px -8px 16px rgba(255, 255, 255, 0.52);
	border-radius: 14.437px;
	border-radius: 50%;
}

.foot_ellipse:active{
	background: #F0EFF4;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.08), inset -4px 4px 10px rgba(255, 255, 255, 0.4);
	border-radius: 8px;
	border-radius: 14.437px;
	border-radius: 50%;
}

.foot_text{
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #8E86AC;
	bottom: 445px;
	top: 35px;
	left: 22px;
	cursor: pointer;
	-moz-user-select: none;
    -khtml-user-select: none;
  	-webkit-user-select: none;
 	user-select: none;
}

.foot_btn{
	position: relative;
	bottom: 1530px;
}

.foot_btn1{
	position: relative;
	width: 8.03px;
	height: 63.96px;
	right: 8px;
	bottom: 150px;
}

.foot_btn2{
	position: relative;
	width: 8.03px;
	height: 117.88px;
	top: 50px;
	right: 20px;
}

.foot_btn3{
	position: relative;
	width: 8.03px;
	height: 117.88px;
	top: 210px;
	right: 32px;
}












/* Large Devices, Wide Screens */
@media only screen  and (max-width : 1460px) {

.adapt{
	justify-content: space-around;
	width: 1250px;
}

.first{
	width: 600px;
	height: 600px;
}

.main_text{
	width: 550px;
	font-size: 32px;
	margin-top: 15px;
}

.side_text{
	width: 500px;
	font-size: 20px;
	margin-top: -30px;
}

.number{
	margin-top: 150px;
	margin-bottom: 15px;
	font-size: 18px;
}

.second{
	width: 600px;
	height: 600px;
}

.photo{
	width: 600px;
}

.rs{
	font-size: 170px;
	top: -150px;
	left: 20px;
}

.solo{
	width: 560px;
	height: 600px;
	left: 50px;
}

.ellipse{
	width: 140px;
	height: 140px;
	left: 440px;
	top: 45px;
}

.glases{
	width: 200px;
	bottom: 362px;
	left: 240px;
}

@keyframes around {
  0% { left: 250; top: -1000px; transform: rotate(0deg); }
  100% { left: 240px; top: 38px; transform: rotate(0deg); }
}

.sharp{
	left: 270px;
	top: 0px;
}

.container{
	width: 600px;
	height: 600px;
}

.fourth{
	width: 600px;
	height: 600px;
	margin-left: -100px;
}

h1{
	font-size: 32px;
	margin-top: 15px;
}

h2{
	font-size: 16px;
}

.side{
	font-size: 12px;
	width: 540px;
}

.packs{
	margin-top: -100px;
	display: flex;
	justify-content: space-around;
	width: 1260px;
}

.fifth{
	width: 100%;
}

.pack{
	width: 380px;
	height: 620px;
}

.gif{
	width: 320px;
	height: 200px;
}

h3{
	font-size: 30px;
	margin-top: 10px;
}

.pack_head_text{
	font-size: 18px;
}

.pack_text{
	font-size: 12px;
}

.points, .points2, .points3{
	width: 75px;
	height: 60px;
	left: 275px;
}

.points{
	top: 40px;
}

.points2{
	top: -25px;
}

.points3{
	top: -85px;
}

.foot{
	height: 1200px;
	margin-top: 30px;
}

.left_block{
	margin-right: 0;
}

.worth{
	width: 600px;
	height: 600px;
}

.worth_header{
	font-size: 32px;
	top: 15px;
}

.worth_text{
	font-size: 16px;
}

.worth_side_text{
	margin-left: 25px;
	font-size: 12px;
	width: 500px;
}

.resume{
	width: 600px;
	height: 600px;
}

.resume_header{
	top: 15px;
	font-size: 32px;
	width: 500px;
	margin-bottom: 10px;
}

.resume_text{
	font-size: 16px;
}

.resume_side_text{
	font-size: 12px; 
	width: 350px;
}

.resume_side_text2{
	width: 100px;
}

.resume_text2{
	width: 150px;
}

.registration{
	width: 600px;
	height: 1230px;
}

.squire{
	width: 260px;
	height: 260px;
}

.reg_ellipse, .reg_ellipse2, .reg_ellipse3{
	width: 110px;
}

.reg_ellipse{
	bottom: 250px;
	left: 25px;
}

.reg_ellipse2{
	bottom: 190px;
	left: 15px;
}

.reg_ellipse3{
	bottom: 130px;
	left: -200px;
}

.double{
	width: 30px;
	height: 30px;
	bottom: 345px;
	left: 165px;
}

.double2{
	width: 12px;
	bottom: 190px;
	left: 140px;
}

.req_text{
	font-size: 8px;
	width: 80px;
}

.req_text1{
	bottom: 368px;
	left: 40px;
}

.req_text2{
	bottom: 346px;
	left: 157px;
}
.req_text3{
	bottom: 315px;
	left: 50px;
}

.registr_text{
	left: 300px;
	bottom: 320px;
	width: 270px;
}

h5{
	font-size: 16px;
}

.cloud_text{
	font-size: 14px;
}

.cloud{
	bottom: 460px;
	left: 60px;
}

.emoji{
	top: -140px;
	left: 320px;
}

h6{
	font-size: 32px;
	top: 45px;
	margin-top: -70px;
	margin-left: 35px;
}

.text{
	width: 530px;
	height: 60px;
}

.confid{
	bottom: 34px;
	font-size: 12px;
}

.foot_ellipse{
	bottom: 330px;
	left: 230px;
	width: 110px;
	height: 110px;
}

.foot_text{
	top: 28px;
	left: 18px;
	font-size: 12px;
}

.foot_btn{
	bottom: 1300px;
}

.registr_text{
	width: 200px;
}

.foot{
	margin-bottom: 60px;
}

}



















@media only screen and (max-width : 1260px) {

.adapt{
	justify-content: space-around;
	width: 1050px;
}

.first{
	width: 500px;
	height: 500px;
}

.main_text{
	font-size: 28px;
	width: 450px;
	margin-left: 15px;
}

.side_text{
	font-size: 18px;
	width: 450px;
	margin-left: 15px;
}

.number{
	width: 155px;
	margin-top: 60px;
	font-size: 16px;
	margin-left: 15px;
}

.social{
	margin-left: 15px;
}

.vk{
	width: 26px;
}

.telegram{
	width: 20px;
}

.insta{
	width: 20px;
	top: 3px;
}

.facebook{
	position: relative;
	width: 10px;
	top: 3px;
}

.behance{
	width: 26px;
	top: 1px;
}

.dribbble{
	width: 20px;
	top: 3px;
}

.leng{
	font-size: 18px;
}

.us{
	top: 3px;
}

.second{
	width: 500px;
	height: 500px;
}

.photo{
	width: 500px;
}

.solo{
	width: 450px;
	height: 500px;
	left: 60px;
}

.rs{
	font-size: 130px;
	top: -100px;
	left: 30px;
}

.ellipse{
	width: 110px;
	height: 110px;
	left: 370px; 

}

.glases{
	width: 160px;
	bottom: 304px;
	left: 212px;
}

@keyframes around {
  0% { left: 212; top: -1000px; transform: rotate(0deg); }
  100% { left: 212px; top: 36px; transform: rotate(0deg); }
}

.sharp{
	font-size: 16px;
	left: 230px;
	top: 25px;
}

.projects{
	width: 100%;
	margin-bottom: 100px;
}

.third{
	width: 500px;
	height: 500px;
}

.container{
	width: 500px;
	height: 500px;
}

.showreel_text{
	font-size: 18px;
	position: relative;
	bottom: 129px;
}

.fourth{
	width: 500px;
	height: 500px;
	margin-left: 0;
}

h1{
	font-size: 28px;
	margin-left: 15px;
	margin-top: 10px;
}

.clients{
	margin-left: 15px;
}

h2{
	font-size: 14px;
	margin-top: -10px;
}

.side{
	margin-top: -6px;
	width: 450px;
}

.fifth{
	margin-top: 100px;
}

.packs{
	width: 1050px;
}

.pack{
	width: 320px;
	height: 600px;
}

.gif{
	width: 280px;
	height: 180px;
	margin-left: 20px;
}

h3{
	font-size: 26px;
}

.pack_head_text{
	font-size: 16px;
}

.pack_text{
	font-size: 12px;
}

.pack_buttons1{
	top: 125px;
}

.points, .points2, .points3{
	display: none;
}

.worth, .resume{
	width: 500px;
	height: 550px;
}

.worth_header{
	font-size: 26px;
	margin-left: 15px;
}

.worth_ul{
	margin-top: 0;
	margin-left: 15px;
}

.worth_text{
	font-size: 14px;
}

.worth_side_text{
	font-size: 12px;
	width: 400px;
	margin-left: 23px;
}

.foot_br{
	display: none;
}

.worth_li{
	margin-bottom: 20px;
}

.left_block{
	height: 1100px;
}

.resume{
	height: 520px;
}

.resume_header{
	font-size: 26px;
	width: 450px;
	margin-left: 15px;
}

.resume_ul{
	margin-left: 15px;
}

.resume_text{
	font-size: 14px;
}

.resume_side_text{
	font-size: 12px;
	width: 300px;
}

.resume_text2{
	width: 150px;
}

.resume_side_text2{
	width: 150px;
}

.registration{
	width: 500px;
	height: 1100px;	
}

.foot_btn{
	bottom: 1200px;
}

.registr_text{
	bottom: 290px;
}

h4{
	font-size: 14px;
	width: 200px;
}

.reg_side_text{
	font-size: 10px;
	width: 200px;
}

h5{
	font-size: 14px;
}

.cloud_text{
	font-size: 12px;
}

.cloud{
	left: 100px;
	bottom: 360px;
	width: 250px;
	height: 100px;
}

.emoji{
	top: -120px;
	width: 150px;
	height: 150px;
}

h6{
	font-size: 26px;
	margin-bottom: 100px;
	top: 80px;
}

.text{
	width: 440px;
	height: 60px;
	font-size: 16px;
}

.registration_ul{
	margin-top: 20px;
}

.foot_ellipse{
	width: 100px;
	height: 100px;
	left: 200px;
	bottom: 320px;
}

.foot_text{
	font-size: 12px;
	left: 12px;
	top: 22px;
}

.foot{
	height: 1100px;
	margin-bottom: 30px;
}

.group{
	position: relative;
	width: 338px;
	height: 358px;
	margin-left: 30px;
	top: 0px;

}

.squire{
	width: 238px;
	height: 258px;
}

.reg_ellipse{
	position: relative;
	bottom: 245px;
	left: 25px;
	width: 102px;
}

.reg_ellipse2{
	position: relative;
	width: 102px;
	bottom: 185px;
	left: 15px;
}

.reg_ellipse3{
	position: relative;
	width: 102px;
	bottom: 130px;
	left: -185px;
}

.double{
	position: relative;
	width: 28px;
	height: 28px;
	bottom: 330px;
	left: 155px;
}

.double2{
	position: relative;
	width: 12px;
	bottom: 185px;
	left: 135px;
}

.req_text{
	position: relative;
	width: 88px;
	font-size: 8px;
}

.req_text1{
	bottom: 357px;
	left: 31px;
}

.req_text2{
	bottom: 335px;
	width: 128px;
	left: 144px;
}

.req_text3{
	bottom: 310px;
	left: 46px;
}

.registr_text{
	width: 192px;
	position: relative;
	bottom: 300px;
	left: 280px;
}

h4{
	font-size: 14px;
	width: 200px;
}

.reg_side_text{
	width: 200px;
	font-size: 12px;
}

}
















/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

body{
	max-width: 992px;
	min-width: 760px;
	display: block;
}

.adapt{
	position: relative;
	display: block;
	width: 760px;
}

.top{
	width: 100%;
	margin-top: -30px;
}

.first{
	position: relative;
	width: 760px;
	height: 531px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.main_text{
	position: relative;
	font-size: 36px;
	width: 714px;
	top: 30px;
	margin-left: 30px;
}

.br_adapt{
	display: none;
}

.side_text{
	width: 714px;
	margin-top: -20px;
	margin-left: 30px;
}

.bot{
	margin-left: 20px;
}

.number{
	width: 250px;
	margin-top: 80px;
	margin-left: 30px;
}

.second{
	position: relative;
	width: 760px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

.solo{
	left: 41px;
	height: 700px;
	width: 628px;
	height: 700.33px;
}

.glases{
	width: 233.07px;
	height: 233.07px;
	bottom: 371px;
	left: 249px;
	animation: none;
}

.photo{
	position: relative;
	left: 45px;
}

.rs{
	top: -175px;
	left: -20px;
	font-size: 202.222px;
}

.ellipse{
	bottom: 445px;
	left: 500px;
	width: 176.44px;
	height: 176.44px;
}

.sharp{
	left: 390px;
	top: -70px;
	font-size: 20px;
}

.third{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 760px;
	height: 720px;
}

.projects{
	width: 100%;
}

.container{
	position: relative;
	width: 760px;
	height: 700px;
}

.showreel{
	position: relative;
	bottom: 10px;
}

.showreel_text{
	width: 300px;
}

.button{
	z-index: 1;
}

.showreel_text{
	z-index: 1;
}

.fourth{
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	height: 651px;
	margin-top: -35px;
}

h1{
	position: relative;
	top: 20px;
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 30px;
}

h2{
	font-size: 20px;
	margin-bottom: 15px;
}

.side{
	font-size: 14px;
	width: 700px;
	margin-bottom: 40px;
}

.clients_li{
	margin-left: 18px;
}

.clients{
	margin-top: 50px;
}

.fifth{
	display: none;
}

.home-demo{
	display: block;
	width: 100%;
	margin-bottom: -25px;
	margin-top: -65px;
}

.pack{
	position: relative;
	width: 457px;
	height: 700px;
	background: #F0EFF4;
	box-shadow: 4.66667px 4.66667px 12.4444px rgba(0, 0, 0, 0.1), -4.66667px -4.66667px 12.4444px rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}

.points{
	position: relative;
	left: 335px;
	top: 20px;
}

.points2{
	position: relative;
	left: 335px;
	bottom: 50px;
}

.points3{
	position: relative;
	left: 335px;
	bottom: 110px;
}

.gif{
	position: relative;
	box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.08), inset -4px 4px 10px rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	margin-left: 30px;
	top: 20px;
	width: 370px;
	height: 239px;
}

.gif_block{
	width: 397px;
}

h3{
	font-family: NeueMachina;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #443E5B;
	margin-left: 30px;
	margin-top: 30px;
}

.pack_head_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #443E5B;
	margin-bottom: -12px;
}

.pack_text{
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	margin-bottom: 21px;
}

.pack_ul{
	margin-top: -15px;
	list-style-type: none;
}

.pack_li{
	margin-bottom: 21px;
}

.price_button{
	position: relative;
	align-items: flex-end;
	width: 80px;
	height: 30px;
	padding: 6px 14px;
	background: #F0EFF4;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1), inset -2px 2px 3px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-left: 30px;
	margin-bottom: 24px;
	margin-right: 10px;
}

.price_button_text{
	position: relative;
	text-align: center;
	bottom: 8px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 130%;
	color: #8E86AC;
}

.term_button{
	width: 106px;
	height: 40px;
	background: #F0EFF4;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1), inset -2px 2px 3px rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-bottom: 26px;
}

.term_button_text{
	position: relative;
	text-align: center;
	bottom: 2px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 130%;
	color: #8E86AC;
}

.pack_buttons{
	display: flex;
	position: relative;
	align-items: flex-end;
	margin-top: 32px;
	-moz-user-select: none;
    -khtml-user-select: none;
  	-webkit-user-select: none;
 	user-select: none;
}

.pack_buttons{
	top: 20px;
}

.pack_buttons2{
	top: 85px;
}

.pack_buttons1{
	top: 152px;
}

.foot{
	margin-top: -680px;
	width: 100%;
}

.worth, .resume, .registration{
	position: relative;
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.worth{
	height: 774px;
}

.worth_header{
	font-size: 36px;
	width: 700px;
	top: 30px;
	margin-left: 30px;
	margin-bottom: 70px;
}

.worth_ul{
	margin-left: 30px;
}

.worth_text{
	font-size: 18px;
}

.worth_side_text{
	font-size: 14px;
	width: 650px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.worth_side_text1{
	margin-left: 28px;
}

.foot_ellipse{
	left: 300px;
	bottom: 330px;
}

.resume_ul2{
	position: relative;
	width: 100px;
	margin-right: 0;
}

.resume_header{
	font-size: 36px;
	top: 30px;
	margin-left: 30px;
	width: 670px;
}

.resume_ul{
	margin-left: 30px;
	margin-top: 80px;
	margin-bottom: 0;
}

.resume_text{
	font-size: 18px;
}

.resume_side_text{
	font-size: 14px;
	width: 500px;
}

.resume_side_text2{
	width: 200px;
}

.registr_text{
	width: 300px;
}

.resume{
	height: 694px;
}

.foot_btn{
	display: none;
}

.registration{
	margin-top: 430px;
	width: 760px;
	height: 1480px;
	margin-bottom: 30px;
}

.group{
	width: 338px;
	height: 358px;
	margin-left: 30px;
	top: 30px;
}

.squire{
	width: 338px;
	height: 358px;
}

.reg_ellipse{
	position: relative;
	bottom: 335px;
	left: 25px;
	width: 152px;
}

.reg_ellipse2{
	position: relative;
	width: 152px;
	bottom: 255px;
	left: 5px;
}

.reg_ellipse3{
	position: relative;
	width: 152px;
	bottom: 340px;
	left: 25px;
}

.double{
	position: relative;
	width: 48px;
	height: 48px;
	bottom: 570px;
	left: 55px;
}

.double2{
	position: relative;
	width: 20px;
	bottom: 375px;
	left: 20px;
}

.req_text{
	width: 128px;
	font-size: 12px;
	z-index: 1;
}

.req_text1{
	bottom: 607px;
	left: 36px;
}

.req_text2{
	bottom: 585px;
	width: 128px;
	left: 197px;
}

.req_text3{
	bottom: 555px;
	left: 52px;
}

.registr_text{
	width: 292px;
	position: relative;
	bottom: 250px;
	left: 380px;
}

h4{
	font-size: 20px;
	width: 320px;
	margin-bottom: 0px;
}

.reg_side_text{
	width: 320px;
	font-size: 16px;
	margin-top: 6px;
}

.emoji{
	position: relative;
	width: 209px;
	height: 221px;
	left: 400px;
	top: 0px;
}

h5{
	font-size: 18px;
	top: 18px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0;
}

.cloud_text{
	font-size: 14px;
	top: 18px;
	margin-top: 6px;
	margin-left: 20px;
}

.cloud{
	width: 299px;
	height: 105px;
	bottom: 310px;
	left: 130px;
}

.for_client{
	position: relative;
	bottom: 205px;
}

h6{
	width: 300px;
	font-size: 36px;
	margin-left: 30px;
	top: 70px;
}

.registration_li{
	margin-bottom: 13px;
	width: 700px;
}

.text{
	font-size: 18px;
	width: 682px;
	height: 80px;
	margin-bottom: 10px;
}

.confid{
	position: relative;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #A9A4BA;
	left: 68px;
	bottom: 38px;
	width: 300px;
}

.foot_ellipse{
	position: relative;
	bottom: 232px;
	left: 300px;
	width: 136px;
	height: 136px;
}


.foot_text{
	font-size: 14px;
	bottom: 445px;
	top: 35px;
	left: 22px;
}

}















/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
  
.adapt{
	position: relative;
	display: block;
	width: 320px;
}

body{
	max-width: 420px;
	min-width: 320px;
	display: block;
}

.top{
	margin-top: -40px;
	width: 100%;
	margin-bottom: -5px;
}

.first{
	width: 290px;
	height: 290px;
	margin-bottom: 15px;
}

.main_text{
	font-size: 18px;
	width: 262px;
	margin-left: 15px;
}

.side_text{
	font-size: 12px;
	width: 260px;
	margin-left: 15px;
	margin-top: -130px;
}


.number{
 	position: relative;
 	bottom: 6px;
 	font-size: 12px;
 	margin-top: -20px;
 	margin-left: 15px;
 	margin-bottom: 5px;
}

.social{
	margin-left: -2px;
}

.leng{
	font-size: 12px;
}

.vk{
	width: 17px;
	height: 10px;
}

.telegram{
	width: 14px;
	height: 12px;
}

.insta{
	top: 1px;
	width: 12px;
	height: 12px;
}

.facebook{
	top: 1px;
	width: 5px;
	height: 13px;
}

.behance{
	top: 0;
	width: 16px;
	height: 10px;
}

.dribbble{
	top: 1px;
	width: 12px;
	height: 12px;
}

.us{
	 width: 10px;
	 height: 10px;
}

.logos{
	margin-right: 6px;
}

.second{
	width: 290px;
	height: 290px;
}

.photo{
	width: 290px;
	height: 290px;
	left: 0;
}

.solo{
	width: 263px;
	height: 283px;
	top: 7px;
	left: 20px;
}

.rs{
	font-size: 83px;
	top: -70px;
	left: 5px;
}

.ellipse{
	width: 68.96px;	
	height: 68.96px;
	left: 205px;
	top: 25px;
}

.glases{
	width: 94.62px;
	height: 94.62px;
	left: 108px;
	bottom: 170px;
	animation: none;
}

.sharp{
	left: 125px;
	top: -20px;
	font-size: 12px;
}

.third{
	width: 290px;
	height: 290px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container{
	width: 290px;
	height: 290px;
}

.video{
	position: relative;
	bottom: 120px;
	width: 600px;
}

.button{
	right: 10px;
	top: -40px;
	opacity: 1;
	z-index: 1;
}

.showreel_circle{
	width: 20px;
	height: 20px;
}

.pointer{
	width: 10px;
	height: 10px;
	left: 6px;
	top: 5px;
}

.showreel_text{
	font-size: 12px;
	opacity: 1;
	z-index: 1;
	left: 40px;
	top: -73px;
	width: 150px;
	margin-right: 0;
}

.showreel{
	bottom: 0px;
	top: 5px;
}

.fourth{
	width: 290px;
	height: 487px;
	margin-top: -30px;
	margin-bottom: 20px;
}

h1{
	font-size: 18px;
	margin-left: 17px;
	top: 10px;
	margin-bottom: 40px;
	margin-top: 15px;
}

h2{
	font-size: 12px;
	line-height: 17px;
	left: -10px;
	margin-bottom: 6px;
}

.side{
	font-size: 10px;
	margin-top: -6px;
	width: 242px;
	margin-bottom: 25px;
}


.clients_li{
	margin-bottom: 15px;
}

.clients{
	margin-left: 0px;
	margin-top: 15px;
}


.home-demo{
	display: none;
}



.fifth{
	position: relative;
	display: block;
	width: 100%;
}

.packs{
	display: block;
	width: 290px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.pack{
	position: relative;
	width: 290px;
	height: 444px;
	margin-bottom: 15px;
}


.btn, .btn2, .btn3{
	display: none;
}

.gif{
	width: 260px;
	height: 156px;
	margin-top: 0px;
	margin-left: 15px;
}

h3{
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 25px;
}

.pack_head_text{
	font-size: 12px;
}

.pack_text{
	font-size: 10px;
	width: 260px;
}

.pack_ul{
	margin-left: 15px;
}

.pack_li{
	margin-bottom: -10px;
}

.price_button_text{
	font-size: 10px;
	top: -8px;
}

.term_button_text{
	font-size: 10px;
	top: -3px;
}

.price_button{
	width: 50px;
	height: 15px;
}

.term_button{
	position: relative;
	top: 1px;
	width: 60px;
	height: 26px;
}

.pack_buttons{
	top: 0;
	margin-left: -15px;
}

.pack_buttons1{
	top: 70px;
}

.pack_buttons2{
	top: 30px;
}

.pack_buttons3{
	top: -5px;
}

.points, .points2, .points3{
	display: none;
}

.foot{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

.left_block{
	width: 100%;
	height: 952px;
}

.worth{
	width: 290px;
	height: 482px;
	margin-bottom: 15px;
}

.worth_header{
	font-size: 18px;
	margin-left: 15px;
	top: 15px;
	width: 266px;
	margin-bottom: 30px;
}

.worth_ul{
	margin-left: 15px;
	margin-top: 15px;
}

.worth_li{
	margin-bottom: 15px;
}

.worth_text{
	font-size: 12px;
	margin-bottom: 15px;
}

.worth_side_text{
	width: 240px;
	font-size: 10px;
	margin-left: 19px;
	margin-bottom: 0;
}

.resume{
	width: 290px;
	height: 446px;
}

.resume_header{
	font-size: 18px;
	width: 260px;
	margin-bottom: 0;
	top: 15px;
	margin-left: 15px;
}

.resume_ul{
	margin-top: 15px;
	margin-left: 15px;
}

.resume_li{
	margin-bottom: 0;
}

.resume_text{
	font-size: 12px;
	width: 152px;
}

.resume_side_text{
	font-size: 10px;
	width: 152px;
}

.resume_li_right{
	margin-bottom: 60px;
}

.resume_side_text2{
	width: 70px;
}

.resume_text2{
	width: 100px;
}

.registration{
	width: 289px;
	height: 665px;
	margin-bottom: 20px;
	margin-top: -20px;
}

.squire, .reg_ellipse, .reg_ellipse2, .reg_ellipse3, .double, .double2, .req_text{
	position: relative;
	top: 0px;
	margin: 0;
}

.squire{
	width: 139.83px;
	height: 148.1px;
	position: relative;
	bottom: 480px;
	left: -15px;
}

.reg_ellipse, .reg_ellipse2, .reg_ellipse3{
	width: 62px;
	height: 62px;
}

.reg_ellipse{
	top: -75px;
	left: -145px;
}

.reg_ellipse2{
	top: -75px;
	left: 0px;
}

.reg_ellipse3{
	top: -105px;
	left: -10px;
}

.req_text{
	font-size: 6px;
	width: 53px;
	top: -190px;
}

.req_text1{
	position: relative;
	left: 3px;
}

.req_text2{
	position: relative;
	left: 68px;
	top: -174px;
}

.req_text3{
	position: relative;
	left: 6px;
	top: -160px;
}

.double{
	width: 20px;
	height: 20px;
	top: -175px;
	left: -55px;
}

.double2{
	width: 8px;
	height: 8px;
	top: -90px;
	left: -72px;
}

.group{
	position: relative;
	width: 250px;
	top: 10px;
}

.registr_text{
	position: relative;
	left: 160px;
	bottom: 330px;
	width: 100px;
}

h4{
	font-size: 10px;
	width: 119px;
}

.reg_side_text{
	font-size: 10px;
	width: 120px;
}

h5, .cloud_text{
	font-size: 10px;
	width: 170px;
	top: 10px;
	left: -3px;
}

.cloud{
	width: 176px;
	height: 64px;
	box-shadow: 1.74582px 1.74582px 4.65551px rgba(0, 0, 0, 0.1), -1.74582px -1.74582px 4.65551px rgba(255, 255, 255, 0.5);
	border-radius: 17px 17px 0px 17px;
	bottom: 400px;
	left: 15px;
}

.emoji{
	width: 86px;
	height: 90.94px;
	top: -250px;
	left: 170px;
}

.for_client{
	bottom:  358px;
}

h6{
	position: relative;
	font-size: 14.8931px;
	right: 10px;
	top: 70px;
	width: 200px;
}

.text{
	font-size: 12px;
	width: 259px;
	height: 38px;
	margin-bottom: -5px;
}

.registration_ul{
	position: relative;
	margin-left: 15px;
	top: -15px;
}

.accept1, .accept2, .confid{
	display: none;
}

.foot_text{
	font-size: 8px;
	top: 16px;
	left: 8px;
}

.foot_ellipse{
	position: relative;
	width: 65px;
	height: 65px;
	bottom: 365px;
	left: 110px;
}

.registration_li{
	width: 250px;
}





}